@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <title>Welcome English Premier League Table</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-min.css")">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body role="document">
    <div class="container" role="main">

        @RenderBody()

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="@Url.Content("~/Scripts/jquery-1.11.0.js")"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="@Url.Content("~/Scripts/bootstrap-3.1.1.js")"></script>

        @RenderSection("PageScript", required: false)
    </div>
</body>
</html>
