@model IEnumerable<Football.Team>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="jumbotron">
        <h1>EPL Standings</h1>
        <p>
            Welcome to the latest english premier league table. If the
            season finishes with the current standings, the button will highlight what will happen
            to the teams...
        </p>
        <p><a href="#" id="highlight" class="btn btn-primary btn-lg" role="button">Go &raquo;</a></p>
    </div>

    <div class="col-md-12">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Team</th>
                    <th>Goals For</th>
                    <th>Goals Against</th>
                    <th>Goal Difference</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr id="tr-@m.Position">
                        <td>@m.Position</td>
                        <td class="js-teamname">@m.Name</td>
                        <td>@m.GoalsFor</td>
                        <td>@m.GoalsAgainst</td>
                        <td>@m.GetGoalDifference(false)</td>
                        <td>@m.Points</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section PageScript
{
    <script type="text/javascript">
        (function ($) {
            var me = this;
            me.isHighlighted = false;

            $('#highlight').on('click', function () {

                if (me.isHighlighted)
                    return;

                // Highlight champion
                $.getJSON('@Url.Action("ListChampion")', function (team) {
                    $('#tr-' + team.Position)
                        .addClass('success')
                        .find('.js-teamname')
                        .append(' <span class="label label-default">Champions</span>');
                });

                // Highlight the relegation zone
                $.getJSON('@Url.Action("ListRelegationZone")', function (data) {
                    $.each(data, function (key, team) {
                        $('#tr-' + team.Position)
                            .addClass('danger')
                            .find('.js-teamname')
                            .append(' <span class="label label-default">Relegated</span>');
                    });
                });

                // Highlight team with least goal difference
                $.getJSON('@Url.Action("ListTeamWithLeastDifference")', function (team) {
                    $('#tr-' + team.Position)
                        .addClass('info')
                        .find('.js-teamname')
                        .append(' <span class="label label-default">Tight Goal Diff</span>');
                });

                me.isHighlighted = true;
            });
        })(jQuery);
    </script>
}
